@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bg-gradient-main {
  background: url('./images/file-K0eijCKhX0pDOEHjPedRe694.webp') no-repeat center center;
  background-size: 2;
  margin: 12px;
  /* height: vh;
  width: 100vw; */
  overflow: hidden;
}


/* .bg-gradient-overlay {
  background: linear-gradient(180deg, rgb(6, 2, 2) 0%, rgba(0,0,0,1) 40%, rgba(0,212,255,0) 100%);
} */

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(250, 214, 92, 0.8) 0%, rgba(250, 214, 92, 0) 60%);
}
